@{
    ViewData["Title"] = "Home Page";
}

@model UrlShortener.WebApplication.Models.UrlViewModel

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.LongUrl)
    @Html.ValidationMessageFor(model => model.LongUrl)
    <button type="submit">Create</button>

    @Html.TextBoxFor(model => model.ShortUrl, new { @readonly = "readonly" })
}