@{
    ViewData["Title"] = "Home Page";
}

@model UrlShortener.WebApplication.Models.UrlViewModel

@using (Html.BeginForm("Create", "Home", FormMethod.Post ))
{
    <div>
        @Html.TextBoxFor(model => model.Destination)
        @Html.ValidationMessageFor(model => model.Destination)
        <button type="submit">Shorten</button>
    </div>
    <div>
        @Html.TextBoxFor(model => model.Path, new { @readonly = "readonly" })
    </div>
}